@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #000000;
  --color-bg: #eee0cb;
  --color-surface: #baa898;
  --color-primary: #839788;
  --color-accent: #bfd7ea;
  --color-on-primary: #eee0cb;
  --color-on-accent: #000000;
}
